#app{
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	/*overflow: hidden;*/
}

.pageApp{
	height: 100% ;

}
.card div{
	padding-top: 0.150em !important; 
	/*margin-top: 0 !important; */
	margin-bottom:  0 !important; 
	padding-bottom:  0 !important;
}
.addComentario {
	border-top: solid 0.1em #eeeeee;
	
}
.publicacionTexto{

	margin: 0.5em;
}
#homePulicaciones{
	overflow: scroll;
}

/*.barraSuperior{
	position: absolute;
	top: 0;
	overflow: hidden;
}*/

.barraPie{
	overflow: hidden;
}

.mensajeRecivido{
	text-align: left;


}
.mensajeRecivido div{
  background: #e2e2e2; 
  padding: 0.2em;
  margin: auto;
  width: max-content  !important;
  margin-left: 0.2em !important;
  max-width: 60% !important;
  overflow: hidden;
}
.mensajeRecivido div span{
	display: left;

}
.mensajeEnviado {
	text-align: right;
}
.mensajeEnviado div{
	max-width: 70%;
	padding: 1em;
	background: #999999;
}