#app{
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	
}

.pageApp{
	height: 100% ;

}
.card div{
	padding-top: 0.150em !important; 
	/*margin-top: 0 !important; */
	margin-bottom:  0 !important; 
	padding-bottom:  0 !important;
	margin-left: 0.5em;

}

.card a{
	color: #9e9e9e ;
}

.postAcciones {
	margin-left: 0.15em !important; 
	margin-right: 0.15em !important; 
}
.addComentario {
	margin-top: 1em !important; 
	border-top: solid 0.1em #eeeeee;
	vertical-align: middle;
	
}
.addComentario textarea {
  	border-bottom: none !important;
  
 }
 .addComentario textarea:focus {
  	border-bottom: none !important;
  	box-shadow: none !important; 
 }

.publicacionTexto{
	margin: 0.5em;
}


.barraSuperior{
  position: fixed !important;
  top: 0;
  z-index: 10;

}

.barraPie{
	position: fixed;
	margin-bottom: 0 !important;
	overflow: hidden;
	bottom: 1px;
}

.mensajeRecivido{
	text-align: left;


}
.mensajeRecivido div{
  background: #e2e2e2; 
  padding: 0.2em;
  margin: auto;
  width: max-content  !important;
  margin-left: 0.2em !important;
  max-width: 60% !important;
  overflow: hidden;
}
.mensajeRecivido div span{
	display: left;

}
.mensajeEnviado {
	text-align: right;
}
.mensajeEnviado div{
	max-width: 70%;
	padding: 1em;
	background: #999999;
}

.contenidoPagina{
	margin-top: 4em !important;

}
.comentario small{
	display: block;
	width: 100% !important;
	text-align: right;
}
.perfilImage{
	border: #c8e6c9 2px solid;
}

#crearPost textarea:focus {
  	border-bottom: none !important;
  	box-shadow: none !important; 
 }

#crearPost textarea {
  	border-bottom: none !important;
}
.crearPostPie{
	position: fixed;
	bottom: 0;
	width:100%;
}

.colorPosts {
	border: solid 0.1em gray;
	height: 2em !important;

}

.colorPosts.none{
	text-align: center;
}
.colorPosts.azul {
	background: #1e88e5 !important;
	text-align: center;
	color:#ffffff;
}

.colorPosts.verde {
	background: #81c784 !important;
	text-align: center;
	color:#ffffff;
}
.colorPosts.naranja {
	background: #f57c00 !important;
	text-align: center;
	color:#ffffff;
}
.colorPosts.rojo {
	background: #b71c1c !important;
	text-align: center;
	color:#ffffff;
}